extends layout

block content
  .slds-grid.slds-wrap
    .slds-col.slds-size_1-of-1
      .slds-page-header
        .slds-page-header__col-title
          .slds-media__body
            .slds-page-header__name
              .slds-page-header__name-title
                h1
                  span.slds-page-header__title.slds-truncate(title="CDC MTV")= "CDC MTV"
    .slds-col.slds-size_1-of-1  
      #mainContainer
  script(src="/javascripts/base.js")