
#connectionStatusZone{
  display: none;
}

.slds-notify-container{
  transition: 0.4s;
}

.indicatorDefinition{
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.blinkingIndicator{
  animation-duration: 1s;
  animation-name: blinkingIndicator;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

@keyframes blinkingIndicator{
  from{
    opacity: 0;
  }

  50%{
    opacity:100;
  }

  to{
    opacity: 0;
  }
}